name: test

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: '3.10'
      - name: Fetch and set up Kowalski
        uses: actions/checkout@v2
        with:
          repository: dmitryduev/kowalski
          path: kowalski
      - name: Configure and spin up Kowalski, ingest test data
        run: |
          cd kowalski
          python -m pip install --upgrade pip
          pip install wheel==0.36.0
          pip install -r requirements.txt
          cp config.defaults.yaml config.yaml
          cp docker-compose.defaults.yaml docker-compose.yaml
          ./kowalski.py up --build
          ./kowalski.py test
      - name: Install penquins
        run: |
          python setup.py install
      - name: Run penquins' tests
        run: |
          python -m pytest -s tests/test_penquins.py
